/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.about h2, .skills h2, .education h2, .experience h2, .contact h2, .projects h2{
  text-align: center;
  font-size: 5vw;
  color: #404040;
}

.about hr, .skills hr, .education hr, .experience hr, .projects hr, .contact hr {
  border: 1px solid #D32F2F;
  width:15%;
}

/* --------------------------------

Navbar Settings & Header Overlay

-------------------------------- */
nav.navbar{
  border: 0;
  min-height: 70px;
  background-color: #D32F2F;
  vertical-align: middle;
  padding-top:15px;

  /*Smooths the transition to shrinking*/
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .navbar-brand {
  color: white !important;
  font-weight: bold;
}

.navbar .collapse .navbar-nav > li > a {
    color: white !important;
    font-family: 'Secular One', sans-serif;
}

nav.navbar.shrink {
  min-height:60px;
  padding-top:10px;

  /*Drop shadow*/
  -webkit-box-shadow: 0px 0px 51px -2px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 51px -2px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 51px -2px rgba(0,0,0,0.63);
}

.active {
  border-bottom: 1px solid white;
}

.mobi-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D32F2F;
    z-index:1;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:50px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  border-right:1px solid white;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.mobi-nav h4 {
  padding-top: 13px;
  margin-left: 65px;
  color: white;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#cd-intro h1 {
  text-align: center;
  font-size: 13vw;
  color: #FFF;
}

/* --------------------------------

Page Settings

-------------------------------- */

.about, .skills, .education, .experience, .projects{
  padding: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

.about {
  padding-top: 9%;
  margin-bottom: 10%;
}

.about hr {
  margin-bottom: 30px;
}

.about p {
  font-size:3.9vh;
}

#social-icons a{
  padding-left: 10px;
  padding-right: 10px;

}

.skills {
  background-color: #f2f2f2;
}

.skills .col-md-3 {
  padding: 50px;
  text-align: center;
}

.skills p {
  font-size: 120%;
}

.skills .fa {
  color: #D32F2F;
  font-size: 2em !important;
}

.experience {
  padding: 100px;
  background-color: #f2f2f2;
}

.card > img {
  height: 350px;
  width: 100%;
}

.experience h5 {
  text-align: center;
  padding: 50px;
}

.media {
  padding-top:3%;
  padding-bottom:3%;
}

.media-body {
  padding-left:1.5%;
}

.media-object {
  width:9vw;
  height:9vw;
}

.contact {
  background-color: #f2f2f2;
  padding: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

label {
  font-weight: bold;
}

form {
  padding-left: 15%;
  padding-right: 15%;
}

footer {
  background-color: #D32F2F;
  color: white;
  padding: 3%;
  text-align: center;
}

/* ---------------------

Mobile Adjustments

---------------------- */

@media (max-width:425px) {

}
/*ABOVE*/

/*Small devices (landscape phones, 34em and up)*/
@media (min-width: 34em) { ... }

/*Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) { ... }

/*Large devices (desktops, 62em and up)*/
@media (min-width: 62em) { ... }

/*Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) { ... }


/*BELOW*/

/*Extra small devices (portrait phones, less than 34em)*/
@media (max-width: 33.9em) { ... }

/*Small devices (landscape phones, less than 48em)*/
@media (max-width: 47.9em) {

  nav.navbar {
    min-height:50px;
  }

  .about{
    height: 100vh;
  }

  .about h2, .skills h2, .education h2, .experience h2, .contact h2{
    font-size: 7vw;
    padding-top: 10vh !important;
  }

  .about p {
    font-size: 110%;
  }

  .experience {
    padding: 1%;
  }

  .experience .row {
    padding-left:5vw;
    padding-right:5vw;
  }

  .contact {
    background-color: #f2f2f2;
    padding: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }

}

/*Medium devices (tablets, less than 62em)*/
@media (max-width: 61.9em) { ... }

/*Large devices (desktops, less than 75em)*/
@media (max-width: 74.9em) { ... }
