* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#textarea {
 font-size: 1.2em;
  font-family: 'Sen', sans-serif;
}

li {
  line-height: 1.4em;
}

::selection {
  color: #fff;
  background: #ff4c4e;
}

::-moz-selection {
  color: #fff;
  background: #ff4c4e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

*:focus {
  outline: none;
}

#cursor {
  height: 20px;
  margin-bottom: -4px;
  width: 8px;
  background: black;
  opacity: 0;
  display: inline-block;
  animation: blink2 0.5s linear infinite alternate;
}

@keyframes blink2 {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}