* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.2em;
  font-family: 'Sen', sans-serif;
}

li {
  line-height: 1.4em;
}

::selection {
  color: #fff;
  background: #ff4c4e;
}

::-moz-selection {
  color: #fff;
  background: #ff4c4e;
}