<md-card>
  <md-card-header>
    <md-card-title>Alexa Skill (Project)</md-card-title>
    <md-card-subtitle>Personal Project</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://raw.githubusercontent.com/pravin-sivabalan/pravin-sivabalan.github.io/master/assets/alexa.png">
  <md-card-content>
   <p>
     Dropped lets you figure out what new music has been dropped on a day so you know what to listen to. You can specify the number of new songs you want to hear about or genre.
   </p>
 </md-card-content>
 <md-card-actions>
   <button md-raised-button onclick="location.href = 'https://github.com/pravin-sivabalan/DroppedAlexaSkill'">GitHub</button>
  </md-card-actions>
</md-card>
<md-card style="margin-top: 15px;">
  <md-card-header>
    <md-card-title>Prescription Merge Conflict (Project)</md-card-title>
    <md-card-subtitle>Won 2nd Place at Hack Illinois</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://raw.githubusercontent.com/pravin-sivabalan/pravin-sivabalan.github.io/master/assets/hackillinois.jpg">
  <md-card-content>
   <p>
     The PMC is able to pull up a patient's past medication history in order to analyze whether a new medication will cause adverse interactions with current medication.
   </p>
 </md-card-content>
 <md-card-actions>
    <button md-raised-button onclick="location.href = 'https://github.com/pravin-sivabalan/HackIllinois'">GitHub</button>
  </md-card-actions>
</md-card>
