<div class="container">
  <a class="resume" target="_blank" href="./assets/Pravin_Sivabalan_Resume_Long.pdf"><i class="fa fa-file-text" aria-hidden="true"></i></a>
  <a class="github" target="_blank" href="https://github.com/pravin-sivabalan"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a cloud="linkedin" target="_blank" href="https://www.linkedin.com/in/pravin-sivabalan/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a cloud="spotify" target="_blank" href="https://open.spotify.com/user/psivabalan"><i class="fa fa-spotify" aria-hidden="true"></i></a>
  <a class="soundcloud" target="_blank" href="https://soundcloud.com/pravin-sivabalan"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
  <a cloud="medium" target="_blank" href="https://medium.com/@psivabalan"><i class="fa fa-medium" aria-hidden="true"></i></a>
</div>
